<!-- your html code here -->
<h1>Contact</h1>
<p>           
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt qui quasi explicabo error magni quisquam incidunt enim assumenda eum quam cum, fugit repellat nemo! Corrupti omnis accusamus dolorum? 
</p>
<form>
    <div class="mb-3 row justify-content-center">
        <label for="inputPassword" class="col-sm-2 col-form-label text-end">Your E-mail</label>
        <div class="col-5">
          <input type="password" class="form-control" id="inputPassword" placeholder="Your email">
        </div>
    </div>
    <div class="row justify-content-center">
        <label for="floatingTextarea2" class="col-sm-2 col-form-label text-end">Your message</label>
       <div class="col-5">
        <textarea class="form-control" placeholder="Please enter your message here" id="floatingTextarea2" style="height: 100px"></textarea>
       </div>
        
      </div>
</form>

<label for="floatingTextarea2"></label> 

