<!-- your html code here -->
<div class="row mx-5 p-5 border-bottom border-top">
    <div class="col-sm-10 col-md-10 col-lg-9 ps-5">
        <h3>
            <span>This First Heading</span>
            <span class="text-secondary">Will Catch Your Eye</span>

        </h3>
        <p>
           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt qui quasi explicabo error magni quisquam incidunt enim assumenda eum quam cum, fugit repellat nemo! Corrupti omnis accusamus dolorum? 
        </p>
    </div>

    <div class="col-sm-2 col-md-2 col-lg-3">
        <img src="https://imgs.search.brave.com/5s0_9BNG2qZ5sP-X8Mil1qFx3-7NgyG3XfxfvOJ_uIY/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pLmV0/c3lzdGF0aWMuY29t/LzI5Mzg4ODU5L3Iv/aWwvM2FiZjYzLzMx/ODE5ODY3NzcvaWxf/MTU4OHhOLjMxODE5/ODY3NzdfcjY0eC5q/cGc" class="rounded-circle w-75" alt="imagen">
    </div>

</div>