<div class="row mx-5 p-5"">
    <div class="col-sm-2 col-md-2 col-lg-3">
        <img src="../../website/assets/img/2.jpg" class="rounded-circle w-75" alt="imagen">
    </div>

    <div class="col-sm-10 col-md-10 col-lg-9 ps-5">
        <h3>
            <span>The Second Heading</span>
            <span class="text-secondary">Is Pretty Cool Too</span>
        </h3>
        <p>
          Donec ullamcorper nulla non metuss auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nist consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>
</div>